CPX_ROOT="$(pwd)"

export CPX_CONTEST_SCAFFOLDS="$CPX_ROOT/Scaffolds/Contest"
export CPX_PROBLEM_SCAFFOLDS="$CPX_ROOT/Scaffolds/Problem"

export CPX_GXX="$(which g++)"
export PATH="$CPX_ROOT/Utility/bin:$PATH"
