<!-- See https://www.launchd.info/ -->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>WorkingDirectory</key>
		<string>${CP_DIR}</string>
		<key>Label</key>
		<string>local.cp.nats-server.plist</string>
		<key>Program</key>
		<array>
			<string>${CP_NATS_SERVER}</string>
			<string>-config</string>
			<string>configs/nats-server.conf</string>
		</array>
		<key>RunAtLoad</key>
		<true />
		<key>KeepAlive</key>
		<true />
	</dict>
</plist>