<!-- See https://www.launchd.info/ -->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>WorkingDirectory</key>
		<string>/Users/ethankim8683/Desktop/Competitive-Programming/Automation</string>
		<key>Label</key>
		<string>local.cp.agent.plist</string>
		<key>RunAtLoad</key>
		<true />
		<key>KeepAlive</key>
		<true />
	</dict>
</plist>